In [12]:
import pandas as pd
df = pd.read_csv('Weather Data.csv')
df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [13]:
print(df.columns.tolist())

['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%', 'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather']

In [14]:
df['Date/Time']=pd.to_datetime(df['Date/Time'])

In [15]:
df['Year'] = df['Date/Time'].dt.year
df['Month'] = df['Date/Time'].dt.month

In [17]:
year_avg = df.groupby('Year')[['Temp_C','Dew Point Temp_C','Wind Speed_km/h']].mean()
month_avg = df.groupby('Month')[['Temp_C','Dew Point Temp_C','Wind Speed_km/h']].mean()

In [18]:
print("Year-wise Averages:\n", year_avg)
print("\nMonth-wise Averages:\n", month_avg)

Year-wise Averages:
         Temp_C  Dew Point Temp_C  Wind Speed_km/h
Year
2012  8.798144          2.555294        14.945469

Month-wise Averages:
           Temp_C  Dew Point Temp_C  Wind Speed_km/h
Month
1      -7.371505        -12.294758        18.108871
2      -4.225000         -9.221695        14.837644
3       3.121237         -3.488575        14.514785
4       7.009306         -1.934583        17.369444
5      16.237769          8.080780        12.846774
6      20.134028         11.738056        14.681944
7      22.790054         14.595430        11.887097
8      22.279301         15.644758        13.931452
9      16.484444         10.757917        14.108333
10     10.954973          6.533468        15.475806
11      0.931389         -4.179306        13.973611
12     -3.306317         -6.129032        17.614247